.container {
  margin: 0 auto;
  background-color: #212121;
  // overflow: scroll;

  @media (min-width: 500px) {
    width: 100%;
  }
}

@media (min-width: 500px) {
  body {
    overflow: hidden;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;

  @media (min-width: 500px) {
    width: 70%;
    margin: 0 auto;
  }
}

.login {
  &__container {
    min-height: 100vh;
    // display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__title {
    font-family: "Nunito", sans-serif;
    font-size: 6rem;
    color: #212121;
    text-align: center;

    @media (min-width: 500px) {
      font-size: 2.5rem;
      color: hsl(183, 77%, 48%);
      margin-top: 1rem;
    }
  }
}

.form {
  background-color: #212121;
  font-size: 5rem;
  padding: 5rem 5rem;

  @media (min-width: 500px) {
    font-size: 1rem;
    padding: 1rem;
  }
}

.field {
  margin: 0.5rem 0;
  font-family: "Nunito";
  &__label {
    font-size: 2.5rem;
    display: block;
    @media (min-width: 500px) {
      font-size: 1.2rem;
    }
  }
  &__input {
    height: 6rem;
    width: 100%;
    font-size: 3rem;
    padding: 0rem 1rem;
    border: none;
    outline: none;
    background: none;
    background-color: #b9b9b923;
    border-radius: 0.5rem;
    color: #43dde6;
    font-weight: 600;

    @media (min-width: 500px) {
      font-size: 1.2rem;
      height: 3rem;
      font-size: 1.5rem;
      padding: 0.5rem 1rem;
    }

    &:focus {
      background-color: #b9b9b923;
    }

    &::placeholder {
      font-family: "Nunito";
      color: darken($color: #cfcfcf, $amount: 25%);
    }
  }

  &__text {
    text-align: right;
    font-size: 2rem;
    color: #cfcfcf;
    line-height: 6rem;

    @media (min-width: 500px) {
      line-height: 2rem;
      font-size: 1rem;
    }

    &-right {
      text-align: right;
    }

    &-center {
      text-align: center;
    }
  }
}

.button {
  border: none;
  outline: none;
  background: none;
  font-family: "Poppins", sans-serif;
  font-size: 3.5rem;

  @media (min-width: 500px) {
    font-size: 1.2rem;
  }

  &-full {
    width: 100%;
  }

  &_theme-blue {
    background-color: #43dde6;
    padding: 0.7rem 1rem;
    color: #212121;
    border-radius: 0.5rem;
    font-weight: 600;

    @media (min-width: 500px) {
      padding: 0.1rem 0.3rem;
    }

    &:hover {
      background-color: hsl(183, 77%, 48%);
    }
  }

  &_theme-island {
    // background-color: #43dde6;
    border: 5px solid #43dde6;
    padding: 0.7rem 1rem;
    color: #43dde6;
    border-radius: 0.5rem;
    font-weight: 600;

    @media (min-width: 500px) {
      border-width: 2px;
      padding: 0.1rem 0.3rem;
    }

    &:hover {
      background-color: #a0a0a02c;
      border-color: #43dee6be;
      color: #43dee6be;
    }
  }
}

.poppy-message {
  font-size: 4rem;
  text-align: center;
  margin: 4rem 0;
  font-family: "Poppins";

  @media (min-width: 500px) {
    font-size: 1.33rem;
    margin: 1.33rem 0;
  }
}

.sign-in {
  padding: 6rem 2rem;
  box-shadow: 6px 6px 17px 0 #000000a8, -4px -3px 11px 0 #ffffff1f;
  border-radius: 1.5rem;

  @media (min-width: 500px) {
    padding: 2rem 1rem;
    box-shadow: 0.5rem;
    width: 500px;
    margin: 0 auto;
    box-shadow: 4px 4px 5px 0 #000000a8, -3.33px -2px 5px 0 #ffffff1f;
  }
}
