<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Konst - Login</title>
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
   
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/scss/main.css">

    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>

  </head>
  <body>
    
    <%- include("../partials/navbar.ejs") %> 
    
      <div class='container login__container'>
        <section class="wrapper">
          <h1 class='login__title'>Sign In</h1>
        <div class='form'>
        <form method="POST" action="/user/login">
          <div class="sign-in">
            <div class="field">
              <label class="field__label" for="email">Email</label>
              <input
              class="field__input"
              type="email"
              id="email"
              name="email"
              placeholder="johnsmith@example.com"
              maxlength="50"
              required
              spellcheck="false" 
              autocomplete="false" 
            />
            </div>
           
          <div class="field">
            <label class="field__label" for="password">Password</label>
            <input
            class="field__input"
            type="password"
            id="password"
            name="password"
            placeholder="Password"
            maxlength="20"
            required
            spellcheck="false"
          />
          </div>
  
          <div class="field field__text field__text-right">
            <a class='field__text' href="/user/forgot">Forgot Password</a>
          </div>
  
          <div class="field centered">
            <button class="button button-full button_theme-blue" type="submit">Sign In</button>
          </div>
          </div>
          <h3 class="poppy-message" >Or</h3>
          
          <div class="sign-in">
            <div class="field centered">
              <a style="text-align: center;" class="button button-full button_theme-island" href="/user/register">
               Sign Up
              </a>
          </div>
          </div>
        
        </form>

        
        
        </section>
          
      </div>
      <script src="/js/nav.js"></script>

  </body>
</html>
